* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main {
  width: 45%;
  border: 1px solid transparent;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 4px -1px #000000;
  box-shadow: 0px 0px 4px -1px #000000;
  background-color: #f3f9ff;
  margin-inline: auto;
  margin-top: 4em;
  padding: 2em 2em 1em 2em;
}
.main h1 {
  color: #2f096c;
  font-weight: 600;
  
}
.main p {
  margin: 1em 0;
}
.head {
  font-size: 13pt;
  font-weight: 800;
  color: #2f096c;
  font-family: 'Merriweather', serif;
}

.bodypart {
  height: max-content;
  margin: 1em 0;
  width: 90%;
  margin-inline: auto;
}
.firstna,
.lastna {
  width: 100%;
}
.namepart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2em 0;
}
.lowerPart {
  width: 100%;
  margin-inline: auto;
}
#fname,
#lname {
  width: 55%;
  height: 2.2em;
}
input {
  width: 94%;
  height: 2.2em;
  padding: 0.5em;
  /* -webkit-box-shadow: 0px 0px 4px -1px #000000;
  box-shadow: 0px 0px 4px -1px #000000; */
  border: 1px solid gray;
}
.btn {
  width: 60%;
  margin-inline: auto;
  margin-top: 1.7em;
}
.btn button {
  width: 90%;
  height: 2em;
  font-size: 14pt;
  font-weight: 600;
  border: 1px solid black;
  background-color: skyblue;
  cursor: pointer;
}
